/* Your product landing page should have at least one media query
Your product landing page should utilize CSS flexbox at least once */
* {
    background-color: #000000;
  }
  header {
    width: 100%;
    position: fixed;
    margin: 0;
    top: 0px;
    display: flex;
    flex-direction: column;
  }
video { width: 50%;}
video-img { z-index: -1;}
  main {
    margin-left: 155px;
    color: #f80606 }
#navbar {
    border-style: solid;
    border-color: #d32f12;
    text-align: center;
    color: #fa0000
  }
  @media (min-width: 480px) {
    #navbar {
      position: fixed;
    }
  }